<style>
.message-content{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 21px;
}
</style>
<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Parece que uma troca de senha para sua conta foi solicitada</p>
  <p>Caso tenha sido você, clique no link abaixo para escolher uma nova senha:</p>
  <p>
    <a href="{{link}}">Resetar minha senha</a>
  </p>
  <p>ou copiar e colá-lo em seu navegador</p>
  <p><b>{{link}}</b></p>
  <p>Desconsidere esta mensagem caso não tenha sido você.</p>
  <p>Obrigado</p>
  <br />
  <p><b>Equipe GoBarber</b></p>
</div>
